.container {
  background-image: url('../../assets/images/bg-login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 100px;
  background: rgba(255, 255, 255, 0.096); /* Прозрачность 20-30% */
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Белая обводка для границы */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
  backdrop-filter: blur(10px); /* Сила размытияможно 5-20px */
  -webkit-backdrop-filter: blur(10px); /* Для Safari */
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.input-email {
  border: 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(43, 43, 43);
  background: none;
  font-size: 14px;
  color: white;
}

.input-password {
  border: 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(43, 43, 43);
  background: none;
  font-size: 14px;
  color: white;
}

h2 {
  color: rgb(232, 232, 232);
  font-size: 38px;
  font-weight: 200;
  text-shadow: 0 0 10px rgb(43, 43, 43);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-login {
  text-shadow: 0 0 10px rgb(43, 43, 43);
  background: none;
  border-radius: 10px;
  padding: 10px 0;
  font-size: 14px;
  box-shadow: 0 0 10px rgb(43, 43, 43);
  border: 0;
  color: rgb(223, 223, 223);
}

.btn-login:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(43, 43, 43);
  background: rgba(33, 33, 33, 0.096);
  transition: .3s;
}

.side-for-register {
  color: rgb(109, 109, 109);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.a-register {
  color: rgb(109, 109, 109);
  text-decoration: underline;
  cursor: pointer;
}

.a-register:hover {
  color: rgb(197, 197, 197);
  transition: .3s;
}