<div class="dashboard">
   <aside class="sidebar">
      <div class="user-profile">
         <!-- <span class="welcome">Welcome, </span> -->
         <img src="../../../assets/images/icon-user.png" alt="icon-user" class="user-icon">
         <span class="name">{{ username }}</span>
      </div>

      <h2>Trading Universe</h2>

      <a routerLink="analysis"
         routerLinkActive="active">
         Статистика
      </a>

      <a routerLink="trade"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">
         Сделки
      </a>

      <a routerLink="idea"
         routerLinkActive="active">
         Идеи
      </a>

      <a routerLink="strategy"
         routerLinkActive="active">
         Стратегии
      </a>

      <a routerLink="document"
         routerLinkActive="active">
         Документы
      </a>    

      <a routerLink="account"
         routerLinkActive="active">
         Аккаунты
      </a>

      <a routerLink="backtest"
         routerLinkActive="active">
         Бэктесты
      </a>

      <a routerLink="calendar"
         routerLinkActive="active">
         Экономический календарь
      </a>

      <a routerLink="settings"
         routerLinkActive="active">
         Настройки
      </a>
         
      <a (click)="logout()" class="logout-btn">
         Выйти с аккаунта
      </a>
         
   </aside>

   <main class="content">
      <router-outlet></router-outlet>
   </main>
</div>