.container {
    background-image: url('../../assets/images/bg-login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 50px 100px;
    padding: 50px 100px 25px 100px;
    background: rgba(255, 255, 255, 0.096);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-username {
    border: 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(43, 43, 43);
    background: none;
    font-size: 14px;
    color: white;
}

.input-email {
    border: 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(43, 43, 43);
    background: none;
    font-size: 14px;
    color: white;
}

.input-password {
    border: 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(43, 43, 43);
    background: none;
    font-size: 14px;
    color: white;
}

h2 {
    margin-top: 0;
    color: rgb(232, 232, 232);
    font-size: 38px;
    font-weight: 200;
    text-shadow: 0 0 10px rgb(43, 43, 43);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-register {
    text-shadow: 0 0 10px rgb(43, 43, 43);
    background: none;
    border-radius: 10px;
    padding: 10px 0;
    font-size: 14px;
    box-shadow: 0 0 10px rgb(43, 43, 43);
    border: 0;
    color: rgb(223, 223, 223);
}

.btn-register:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(43, 43, 43);
  background: rgba(33, 33, 33, 0.096);
  transition: .3s;
}

.a-login {
    padding: 15px 0 0 0;
    color: rgb(111, 111, 111);
    text-decoration: underline;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.a-login:hover {
    color: rgb(197, 197, 197);
    transition: .3s;
}